language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
env:
  - SPHINXSEARCH_VER=trunk
  - SPHINXSEARCH_VER=branches/rel21

before_install:
  - svn checkout http://sphinxsearch.googlecode.com/svn/${SPHINXSEARCH_VER}/ sphinxsearch
  - cd sphinxsearch
  - ./configure --prefix=/usr/local/sphinx
  - sudo make && sudo make install
  - cd ..

before_script:
  - composer install --dev
  - cd tests
  - /usr/local/sphinx/bin/searchd -c sphinx.conf

script: ../vendor/bin/phpunit --configuration phpunit.xml --coverage-text
