language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - DRIVER=mysqli SPHINXSEARCH_BUILD=rel22
  - DRIVER=mysqli SPHINXSEARCH_BUILD=beta
  - DRIVER=pdo SPHINXSEARCH_BUILD=rel22
  - DRIVER=pdo SPHINXSEARCH_BUILD=beta

matrix:
  fast_finish: true
  allow_failures:
    - env: DRIVER=pdo SPHINXSEARCH_BUILD=rel22
    - env: DRIVER=pdo SPHINXSEARCH_BUILD=beta

before_install:
  - mkdir $HOME/sphinx
  - pushd $HOME/sphinx
  - wget --quiet http://ppa.launchpad.net/builds/sphinxsearch-${SPHINXSEARCH_BUILD}/ubuntu/dists/`lsb_release -cs`/main/binary-amd64/Packages.gz
  - gzip -d Packages.gz
  - SPHINX_DEB=`grep -m1 Filename Packages | cut -f2 -d' '`
  - wget --quiet -O sphinxsearch.deb http://ppa.launchpad.net/builds/sphinxsearch-${SPHINXSEARCH_BUILD}/ubuntu/${SPHINX_DEB}
  - dpkg -x sphinxsearch.deb .
  - popd

before_script:
  - composer dump-autoload
  - cd tests
  - gcc -shared -o data/test_udf.so test_udf.c
  - $HOME/sphinx/usr/bin/searchd -c sphinx.conf

script: phpunit --configuration travis/$DRIVER.phpunit.xml --coverage-text
